[Package]
version: 6
depends: 

[Product]
type: localboot
id: config-win10
name: Configure Windows 10
description: Configure various Windows 10 settings like lockscreen, hibernationboot, telemetry sending and update behavior.
advice: 
version: 4.1.1
priority: 85
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: 
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript:

[ProductProperty]
type: bool
name: disable_fast_boot
description: Disable Fastboot for proper opsi startup
default: True

[ProductProperty]
type: bool
name: show_all_folder_in_navbar
description: You can use the navigation pane (the left pane) in File Explorer to find files and folders on your PC. If you like, you can select to show all the folders on your PC in the navigation pane, including your personal folder, Control Panel, and Recycle Bin.
default: True

[ProductProperty]
type: bool
name: show_drive_letter_first
description: Show drive letters in front of drive label
default: True

[ProductProperty]
type: bool
name: show_thispc_instead_of_quicklaunch
description: When enabled the Explorer by default opens 'This PC' instead of a quick access screen.
default: True

[ProductProperty]
type: bool
name: remove_edge_from_desktop
description: Starting with Win10 1803: Removes the edge desktop shortcut from the desktop
default: True

[ProductProperty]
type: bool
name: allow_useractivity_publishing
description: This policy setting determines whether User Activities can be published. If you enable this policy setting, activities of type User Activity are allowed to be published. If you disable this policy setting, activities of type User Activity are not allowed to be published. Policy change takes effect immediately.
default: False

[ProductProperty]
type: bool
name: hide_known_file_extensions
description: Hide known and most famous file extensions, like .exe or .txt
default: True

[ProductProperty]
type: bool
name: minimize_recommendations
description: If you enable this policy setting, Windows will not use diagnostic data from this device (this data may include browser, app and feature usage, depending on the "diagnostic data" setting value) to customize content shown on lock screen, Windows tips, Microsoft consumer features and other related features. If these features are enabled, users will still see recommendations, tips and offers, but they may be less relevant.
default: True

[ProductProperty]
type: bool
name: disable_lock_screen
description: Disable the default Widnows 10 lock screen
default: True

[ProductProperty]
type: bool
name: disable_telemetry
description: Disable telemetry data transmission, depending on used Windows 10 Version some data still might be transmitted.
default: True

[ProductProperty]
type: bool
name: disable_suggested_silent_app_installation
description: Starting with Windows 10 version 1607 Anniversary Update, Windows will silently automatically download and install suggested apps like Age of Empires: Castle Siege, Asphalt 8: Airborne, Candy Crush Soda Saga, FarmVille2: Country Escape, Flipboard, Minecraft: Windows 10 edition, Netflix, Pandora, Twitter, World of Tanks: Blitz, etc... from the Windows Store without any confirmation by default. This will happen to both local accounts and Microsoft accounts on the PC while connected to the Internet.
default: True

[ProductProperty]
type: bool
name: disable_app_suggestion_in_startmenu
description: In Windows 10, you will occasionally see app suggestions on Start such as Candy Crush Soda Saga, Twitter, Minecraft, Flipboard etc... in All Apps on the left side of Start. If you click/tap on the suggested app, it will open to the app in Store where you can view additional information or download and install it.
default: True

[ProductProperty]
type: bool
name: disable_cortana
description: Disable Cortana assistant as it transmits data to Miscrosoft.
default: True

[ProductProperty]
type: bool
name: disable_error_report
description: Turn off Windows Error Reporting to Microsoft. This does not apply to 3rd party applications. If you enable this policy setting, any memory dumps are uploaded according to the default consent and notification settings.
default: True

[ProductProperty]
type: bool
name: disable_customer_experience
description: Disable customer experience program to disable software and hardware data transmission
default: True

[ProductProperty]
type: bool
name: disable_push_install
description: If you enable this setting, users will not be able to push Apps to this device from the Microsoft Store running on other devices or the web.
default: True

[ProductProperty]
type: bool
name: disable_mrt
description: Disable Malicious Software Removal Tool as it scans files on hard disk and transmits data.
default: True

[ProductProperty]
type: bool
name: disable_onedrive_sync
description: Disable the OneDrive file synchronization, the OneDrive program remains installed.
default: True

[ProductProperty]
type: unicode
name: config_updates
multivalue: False
editable: False
description: Set Windows-Update behavior to select prefered way of Windows 10 updates/upgrades.
values: ["AllowPeerToPeer", "LocalPeerToPeer", "MicrosoftOnly"]
default: ["MicrosoftOnly"]

[ProductProperty]
type: bool
name: disable_mac
description: Disable Microsoft Account communication, as it saves browser, search, position and Cortana data.
default: False

[ProductProperty]
type: bool
name: disable_advertising_id
description: Disable Microsoft Advertising ID
default: False

[ProductProperty]
type: bool
name: disable_updates
description: Disable Windows Updates. This blocks all outgoing connections to Windows update servers.
default: False

[ProductProperty]
type: bool
name: disable_update_service
description: Disables the Windows update service. Caution: this might lead to errors when using DISM to integrate patches etc.
default: False

[ProductProperty]
type: bool
name: disable_defender
description: Disable Microsoft Windows Defender as it scans files and transmits data to Microsoft.
default: False

[ProductProperty]
type: bool
name: disable_recent_apps
description: Disable "Show most used apps" and "Show recently opened apps" in the start menu
default: True

[ProductProperty]
type: bool
name: disable_wifi_sense
description: Disable Wi-Fi Sense. This service collects data on available WiFi networks and transmits the data to Microsoft.
default: False

[ProductProperty]
type: bool
name: disable_sending_feedback
description: Disable sending feedback and diagnostics
default: False

[ProductProperty]
type: bool
name: disable_font_streaming
description: Disable font streaming of not installed fonts. This service collects data of what has been written on the machine.
default: False

[ProductProperty]
type: bool
name: flashplayer_autorun
description: Adobe Flashplayer: allow autorun?
default: False

[ProductProperty]
type: bool
name: disable_location_sensors
description: Disable location and sensor detection.
default: True

[ProductProperty]
type: bool
name: online_search
description: Disable online search during file or command search
default: True

[ProductProperty]
type: bool
name: disable_handwrite_sharing
description: Tablet-PC: Disable sharing of handwriting information. This service collect data on Touch devices to improve handwriting recognition.
default: True

[ProductProperty]
type: bool
name: sync_settings
description: Sync settings with AccountID. Preferences and variosu other data are synced with an unique AccountID when this service is turned on.
default: False

[ProductProperty]
type: bool
name: disable_smbv1
description: Disable SMBV1 protocol for security reasons.
default: True

[ProductProperty]
type: unicode
name: change_power_plan
multivalue: False
editable: False
description: Change the machines power plan.
values: ["balanced", "high_performance", "power_saver"]
default: ["balanced"]

[ProductProperty]
type: bool
name: no_new_app_install_notification
description: If true, this will disable the notification on a new application install.
default: False

[Changelog]
config-win10 (4.1.1-6);. stable; urgency=low
  * removing key SetDisableUXWAccess when enabling updates
  * new property: no_new_app_install_notification

 -- Mathias Radtke <m.radtke@uib.de> Tue, 07 May 2018 10:41:00 +0200

config-win10 (4.1.1-5); stable; urgency=low
  * try to fix errors in Registry_hkcu_enable_settings_sync
  * removed ;Registry_hklm_update_enable_search /sysnative
  * added (see https://docs.microsoft.com/en-us/windows/deployment/update/waas-configure-wufb)
          property DeferFeatureUpdatesPeriodInDays
          property DeferQualityUpdatesPeriodInDays
 -- Bardo Wolf <b.wolf@uib.de> Wed, 30 Nov 2018

config-win10 (4.1.1-4); stable; urgency=low
  * Property name: disable_smbv1 default set to true
  * remove in Login Mode erroneouasly /ALLNTUSERDATS
  * split minimize_recommendation in hkcu and hklm, add hkcu to Login Mode
  * change show_all_folder_in_navbar to /ALLNTUSERDATS and add to Login mode
  * change show_thispc_instead_of_quicklaunch to /ALLNTUSERDATS and add to Login mode
  * change hide_known_file_extensions to /ALLNTUSERDATS and add to Login mode
  * change disable_app_suggestion_in_startmenu to /ALLNTUSERDATS and add to Login mode
  * change disable_recent_apps to /ALLNTUSERDATS and add to Login mode
  * change disable_suggested_silent_app_installation to /ALLNTUSERDATS and add to Login mode
  * change disable_error_report to /ALLNTUSERDATS and add to Login mode

  * Registry_hklm_disable_push added 32AND 64Bit
  * Registry_hklm_do_publish added 32AND 64Bit

 -- Bardo Wolf <b.wolf@uib.de> Wed, 28 Nov 2018

config-win10 (4.1.1-3); stable; urgency=low

  * fixed double initialization of disable_update_service

-- Mathias Radtke <m.radtke@uib.de> Wed, 21 Nov 2018 11:20:00 +0200

config-win10 (4.1.1-2); stable; urgency=low

  * corrected userlogin script behaviour

 -- Mathias Radtke <m.radtke@uib.de> Wed, 14 Nov 2018 14:00:00 +0100

config-win10 (4.1.1-1); stable; urgency=low

  * added new properties:
    * disable_push_install
    * disable_error_report
    * disable_suggested_silent_app_installation
    * disable_app_suggestion_in_startmenu
    * minimize_recommendations
    * hide_known_file_extensions
    * allow_useractivity_publishing
    * remove_edge_from_desktop
    * show_thispc_instead_of_quicklaunch
    * show_drive_letter_first
    * show_all_folder_in_navbar

 -- Mathias Radtke <m.radtke@uib.de> Tue, 25 Sep 2018 13:40:00 +0200

config-win10 (4.1.0-5); stable; urgency=low

  * New property: disable_updates_service
  * on 64bit systems: set registry sysnative and 32bit

 -- Mathias Radtke <m.radtke@uib.de> Fri, 31 Aug 2018 11:08:00 +0200

config-win10 (4.1.0-4); stable; urgency=low

  * reworked disable_updates function

 -- Mathias Radtke <m.radtke@uib.de> Tue, 21 Aug 2018 10:33:00 +0200

config-win10 (4.1.0-3); stable; urgency=low

  * Added registry settings to diable dualscan when using disable_updates property

 -- Mathias Radtke <m.radtke@uib.de> Fri, 17 Aug 2018 11:46:00 +0200
config-win10 (4.1.0-2); stable; urgency=low

  * fixes #3496 windows 10 1803: websuche abschalten geändert
  * adding loginscript and fixes allntuserdats

 -- Bardo Wolf <b.wolf@uib.de> Mon, 07 May 2018 10:50:00 +0200


config-win10 (4.1.0-1); stable; urgency=low

  * fixed flashplayer architecture logic

 -- Andre Neugebauer <a.neugebauer@uib.de> Mon, 16 Apr 2018 14:50:00 +0200

config-win10 (4.0.7-8); stable; urgency=low

  * fixed broken loginscript setup
  * fixed autoroate disable when using disable_sensors property on Surface devices

 -- Mathias Radtke <m.radtke@uib.de> Tue, 17 Oct 2017 14:50:00 +0200

config-win10 (4.0.7-7); stable; urgency=low

  * disable_smbv1 added
  * power_plan added

 -- Mathias Radtke <m.radtke@uib.de> Fri, 01 Sep 2017 15:40:00 +0200

config-win10 (4.0.7-6); stable; urgency=low

  * fixed various bugs in the script flow
  * removed ProfileAction section
  * removed force_login_script property -> actually did nothing
  * removed boot_to_desktop property -> win81 legacy property

 -- Mathias Radtke <m.radtke@uib.de> Tue, 09 May 2017 14:00:00 +0200

config-win10 (4.0.7-5); stable; urgency=low

  * deactivate adobe flash autorun
  * disable location and sensors
  * disable online search
  * disable share of handwriting telemetry
  * disable settings sync

 -- Mathias Radtke <m.radtke@uib.de> Wed, 22 Feb 2017 10:42:00 +0100

config-win10 (4.0.7-4); stable; urgency=low

  * defer-upgrade: it's back

 -- Mathias Radtke <m.radtke@uib.de> Tue, 24 Jan 2017 13:50:00 +0100

config-win10 (4.0.7-3); stable; urgency=low

  * disable_mac: fixed usage of wring registry key

 -- Mathias Radtke <m.radtke@uib.de> Fri, 12 Dez 2016 14:32:00 +0100

config-win10 (4.0.7-2); stable; urgency=low

  * fixed syntax error in profile section

 -- Mathias Radtke <m.radtke@uib.de> Thu, 08 Dec 2016 12:23:00 +0100

config-win10 (4.0.7-1) ; testing urgency=low

  * disable: windows updates, feedback sending, wifi sense, defender, account communication, advertising ID

 -- m.radtke <m.radtke@uib.de> Tue, 10 Aug 2016 11:00:00 + 0200

config-win10 (4.0.6-7) tetsing; urgency=low

  * Added new property to disable the OneDrive application

 -- m.radtke <m.radtke@uib.de> Mon, 23 Mar 2016 08:42:00 + 0100

config-win10 (4.0.6-6) experimental; urgency=low

  * Added option to defer upgrades (8 months) and updates (4 weeks)

 -- m.radtke <m.radtke@uib.de> Mon, 15 Feb 2016 13:55:00 + 0100

config-win10 (4.0.6-5) testing; urgency=low

  * Added new property to disable update search

 -- m.radtke <m.radtke@uib.de> Tue, 03 Nov 2015 14:30:00 + 0100

config-win10 (4.0.6-4) experimental; urgency=low

  * Added new property to change windows update behavior

 -- m.radtke <m.radtke@uib.de> Tue, 15 Sep 2015 14:33:00 + 0200

config-win10 (4.0.6-3) experimental; urgency=low

  * diverged disable_telemetry into more properties

 -- m.radtke <m.radtke@uib.de> Fri, 11 Sep 2015 15:31:00 + 0200

config-win10 (4.0.6-2) experimental; urgency=low

  * all reg entries change values
  * removed disable_charms property

 -- m.radtke <m.radtke@uib.de> Fri, 11 Sep 2015 11:10:00 + 0200

config-win10 (4.0.6-1) experimental; urgency=low

  * added all known windows 10 telemetry registry keys

 -- m.radtke <m.radtke@uib.de> Thu, 10 Sep 2015 17:06:00 + 0200












